.main-menu
{
    position: relative;

    margin: 10px 0 25px 0;
}
    .main-menu__wrapper
    {
        line-height: 0;

        position: relative;

        margin: 0;

        list-style: none;

        text-align: center;
        vertical-align: top;

        border-bottom: 0;
        background: #fff;
    }

    .main-menu__wrapper:before
    {
        position: absolute;
        z-index: -2;
        top: 5%;
        right: 0;
        bottom: 0;
        left: .5%;

        width: 99%;
        height: 93%;

        content: '';

        border-radius: 10px;
        box-shadow: 0 5px 20px #ccc;
    }
        .main-menu__item
        {
            position: relative;

            display: inline-block;

            margin: 0;
            padding: .8em .7em;

            vertical-align: top;
            text-decoration: none;
        }
        .main-menu__item:last-child:after
        {
            display: none;
        }

            .main-menu__item-link
            {
                font: .9em Arial, Helvetica, sans-serif;
                line-height: 1.1em !important;

                position: relative;

                display: inline-block;

                text-decoration: none;
                text-transform: uppercase;

                color: #777;
            }

            .main-menu__item-link:hover
            {
                color: #c00;
            }

            .main-menu__item-link:visited
            {
                color: #551a8b;
            }

            .main-menu__item-link:visited:hover
            {
                color: #c00;
            }

            .main-menu__item_state_current .main-menu__item-link
            {
                font-weight: bold;
            }

            .main-menu__item-wrapper
            {
                font-size: 0;
                line-height: 0;

                position: relative;

                display: inline-block;

                width: 100%;

                text-decoration: none;
            }
