ps_example.sqlite
node_modules
build
dist
_build
_themes
.tmb
*.egg-info
*.swp
*.pyc
*.ipynb
*.log
*.sublime*
*.sublime-workspace
*.sqlite
.coverage
.mydevelopment.ini
.ropeproject
nohup.out
development_local.ini
npm-debug.log
pyramid_sacrud_example/includes/gallery/static/upload/*
pyramid_sacrud_example/includes/home/static/uploaded/*
!pyramid_sacrud_example/includes/home/static/uploaded/anekdot.gif
!pyramid_sacrud_example/includes/home/static/uploaded/foo.png
