/sacrud
build
dist
_build
_themes
*.egg-info
*.swp
*.pyc
*.ipynb
*.log
*.sublime*
*.sublime-workspace
*.sqlite
.coverage
.mydevelopment.ini
.ropeproject
nohup.out
development_local.ini
pyramid_sacrud_example/static/uploaded/*
!pyramid_sacrud_example/static/uploaded/anekdot.gif
!pyramid_sacrud_example/static/uploaded/foo.png
