build
dist
*.egg-info
/sacrud
*.swp
*.pyc
.coverage
.mydevelopment.ini
nohup.out
*.ipynb
development_local.ini
*.sublime*
*.sublime-workspace
pyramid_sacrud_example/static/uploaded/*
!pyramid_sacrud_example/static/uploaded/anekdot.gif
!pyramid_sacrud_example/static/uploaded/foo.png
.ropeproject
_build
*.sqlite
