pyramid
pyramid_jinja2
pyramid_beaker
SQLAlchemy
transaction
pyramid_tm
pyramid_debugtoolbar
zope.sqlalchemy
waitress
psycopg2
ziggurat_foundations
git+https://github.com/ITCase/sacrud.git@develop
git+https://github.com/ITCase/pyramid_elfinder.git
git+https://github.com/ITCase/sqlalchemy_mptt.git
git+https://github.com/ITCase/sacrud_pages.git
git+https://github.com/ITCase/sacrud_catalog.git
