pyramid
pyramid_jinja2==1.10
pyramid_beaker
SQLAlchemy
transaction
pyramid_tm
pyramid_debugtoolbar
zope.sqlalchemy
waitress
ziggurat_foundations
pyramid_sqlalchemy
sacrud==0.1.9
pyramid_sacrud==0.0.1
pyramid_sacrud_pages==0.0.1
sacrud_deform==0.0.3
git+https://github.com/ITCase/pyramid_elfinder.git
git+https://github.com/ITCase/sqlalchemy_mptt.git
git+https://github.com/ITCase/pyramid_sacrud_catalog.git
git+https://github.com/ITCase/pyramid_sacrud_gallery.git
