.popup-inner__content-gallery
{
    display: none;

    width: 860px;
    min-height: 600px;
    padding: 1.5em 1.1em 1.2em 1.1em;

    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 #555;
       -moz-box-shadow: 0 0 30px 0 #555;
            box-shadow: 0 0 30px 0 #555;
}
.popup-inner__content-gallery-desc
{
    float: left;

    padding: .5em 0 .5em 0;
}
.popup-inner__content-gallery-link
{
    font: .7em Arial;

    float: left;

    padding: .5em 0 0 0;

    color: #777;
}
.popup-inner__content-gallery-link-text
{
    color: #777;
}
.popup-inner__content-gallery-link-info
{
    display: block;
}
.popup-inner__content-gallery-link:hover .popup-inner__content-gallery-link-text
{
    color: #000;
}
.popup-inner__content-gallery-count
{
    font: .75em Arial;

    float: right;

    padding: .5em 0 0 0;

    color: #000;
}
