a
{
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;
    /* display: none; <- Crashes Chrome on hover */

    -webkit-appearance: none;
}


.clear-fix
{
    zoom: 1;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}
.cut-button
{
    position: relative;
    z-index: 9999;

    border: solid 1px red;
}
