.header
{
	width: 100%;
	position: relative;
	padding: 20px 0 0 0;
	margin: 0 0 20px 0;
}
	.header__logo
	{
		width: 35%;
		float: left;
	}
		.header__logo-link
		{
			display: inline-block;
		}
			.header__logo-link-image
			{
				vertical-align: bottom;
			}
	.header__menu
	{
		width: 50%;
		float: left;
		text-align: right;
		padding: 35px 0 30px 0;
	}
	.header__user
	{
		width: 10%;
		float: right;
	}