.content
{
    position: relative;
}
.content h1
{
    font: 2.2em Arial, Helvetica, sans-serif;
    line-height: 1em;

    margin: 0;
    padding: 0 0 .3em 0;

    color: #1f1f1f;
}
.content h2
{
    font: 1.8em Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0 0 .3em 0;

    color: #000;
}
.content h3
{
    font: 1.6em Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0 0 .5em 0;

    color: #000;
}
.content h4
{
    font: 1.3em Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0 0 .8em 0;

    color: #000;
}
.content h5
{
    font: bold 1.1em Arial, Helvetica, sans-serif;
    line-height: 1.4em;

    position: relative;
    left: -1.2em;

    display: inline-block;

    margin: 0 0 1em 0;
    padding: 1em 1.2em .8em 1.2em;

    color: #000;
    background: #ffe77f;
}
.content h6
{
    font: bold .8em Arial, Helvetica, sans-serif;
    line-height: 1.4em;

    position: relative;
    left: -1.2em;

    display: inline-block;

    margin: 0 0 1em 0;
    padding: 1em 1.2em .8em 1.2em;

    color: #fff;
    background: #d16667;
}
.content a
{
    color: #008ace;
}
.content a:hover
{
    color: #c00;
}
.content a:visited
{
    color: #551a8b;
}
.content a:visited:hover
{
    color: #c00;
}
.content p
{
    font: .85em Arial, Helvetica, sans-serif;
    line-height: 1.6em;

    margin: 0;
    padding: 0 0 1.3em 0;

    color: #444;
}
.content em
{
    font-style: italic;
}
.content strong
{
    font-weight: bold;
}
.content i
{
    font-style: italic;
}
.content ol
{
    padding: 0 0 1em 1em;

    counter-reset: list1;
}
.content ol li
{
    font: .8em Arial, Helvetica, sans-serif;
    line-height: 1.4em;

    position: relative;

    display: block;

    padding: 0 0 1em 1.8em;

    color: #444;
    /*list-style-type:expression(function(t){ t.runtimeStyle.listStyleType = 'none'; t.insertAdjacentHTML('afterBegin','<span class="b-content-list-item-number">(' + (++t.parentNode.IEcounter || (t.parentNode.IEcounter = 1)) + ') </span>'); }(this));*/
}
.content ol li:before
{
    position: absolute;
    top: 0;
    left: 0;

    content: counter(list1)'.';
    counter-increment: list1;
}
.content ol li .b-content-list-item-number
{
    color: #555;
}
.content ul
{
    padding: 0 0 1em 2em;

    list-style-type: none;

    text-indent: -1.5em;
}
.content ul li
{
    font: .8em Arial, Helvetica, sans-serif;

    position: relative;

    display: block;

    padding: 0 0 1em 0;

    color: #444;
}
.content ul li:before
{
    padding: 0 .5em 0 0;

    /*content: '\2014\a0';*/
}
.content ul li::before
{
    /*content: '\2014\a0'*/
    padding: 0 .5em 0 0;
}

.content table
{
    position: relative;

    margin: 0 0 2em 0;

    border-collapse: collapse;
}
.content tr
{
    color: #444;
}
.content tr:hover
{
    background: #efefef;
}
.content th
{
    font: bold .7em Arial, Helvetica, sans-serif;

    padding: .5em 1em;

    text-align: left;

    color: #444;
    border: 1px solid #ccc;
    background: #eee;
}
.content th p
{
    font: bold 1em Arial, Helvetica, sans-serif;
    line-height: 1em;

    padding: 0;
}
.content td
{
    font: .8em Arial, Helvetica, sans-serif;
    line-height: 1.4em;

    padding: .5em 1em;

    vertical-align: top;

    color: #444;
}
.content td p
{
    font: 1em Arial, Helvetica, sans-serif;
    line-height: 1.4em;

    padding: 0;

    color: #444;
}

.content-gallery
{
    margin: 1em 0 2em 0;
    padding: 1em;

    border: solid 1px #ccc;
}
