.captcha
{
	//zoom: 1;
	padding: 0 0 0.5em 0
}
.captcha:after
{
	display: block;
	clear: both;
	content: ""
}
	.captcha-image
	{
		float: left;
		text-align: center;
	}
		.captcha-image__image
		{
			display: block
		}
		.captcha__link
		{
			font: 0.8em Arial;
			text-decoration: none;
			color: #336699;
			border-bottom: dashed 1px #336699;
		}
		.captcha__link:hover
		{
			color: #EF7F1B;
			border-bottom: dashed 1px #EF7F1B;
		}
	.captcha-input
	{
		width: 90px;
		float: left;
		padding: 10px 0 0 20px;
	}