.site-menu-button
{
    position: relative;
    z-index: 100;

    display: inline-block;
}
.site-menu-button__link
{
    position: relative;
    z-index: 101;

    display: inline-block;

    padding: .2em .5em .3em .5em;

    text-decoration: none;

    border: solid 1px #ccc;
}
.site-menu-button__link-inner
{
    font: .8em Arial, Helvetica, sans-serif;

    color: #008ace;
    border-bottom: dashed 1px #008ace;
}
.site-menu-button__link:hover .site-menu-button__link-inner
{
    color: #c00;
    border-bottom: dashed 1px #c00;
}



.site-menu-button__link:before
{
    display: inline-block;

    width: 10px;
    height: 10px;

    content: '';

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8wOS8xNNvUVgYAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAS0lEQVQYlcWQwQnAMAwDdaWj2NslXsb7xv0mkEAfheopDnGI1tqQRGYSEaVDbndnLsxsC1J1HFlyvaIkMTv23gfADlwcAX5y/OTHByllG3q17veHAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
}

.site-menu-button__link:after
{
    position: relative;
    top: -1px;

    display: inline-block;

    width: 8px;
    height: 4px;

    content: '';

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8wOS8xNNvUVgYAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAT0lEQVQImV2MMQ6AMAzEXGYkdkje2T4h/0zUHbV7mEDASV5s6Yq7h5ltwMp3U1XHIiLSWjuB+Y/AUTITgIi4n1DVUWvdAcjMB3fvZtbf/gJLvS2URWsrwQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
}
.site-menu-button__link_state_active
{
    border: solid 1px #fff;
}
.site-menu-button__link_state_active:after
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMS8wOS8xNNvUVgYAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAUElEQVQImW2MsQ3AIBDE/N8GKT0Rc7ICizDZnzJB0kIa6OLWlm3OyUbS3Xt3INdaB4DtQJJaaydAKeUFsrsPiwgDYsm0Zs+KLv+RACkiDkAfmhsjdpG8gHcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

.site-menu-button-inner
{
    position: absolute;
    top: -.5em;
    left: -1em;

    display: table;

    padding: 0 0 0 1em;

    border: solid 1px #ccc;
    background: #fff;
}
.site-menu-button-inner:before
{
    position: absolute;
    z-index: -2;
    top: 1%;
    right: 0;
    bottom: 0;
    left: .5%;

    width: 99%;

    content: '';

    -webkit-box-shadow: 0 5px 20px #ccc;
       -moz-box-shadow: 0 5px 20px #ccc;
            box-shadow: 0 5px 20px #ccc;
}
.site-menu-col
{
    display: table-cell;

    max-width: 270px;
    padding: 3em 0 2em .5em;
}
.site-menu-list
{
    margin: 0;
    padding: 0 2em 0 0;

    list-style: none;
}
.site-menu-list__item
{
    padding: .3em 0 1em 0;

    vertical-align: top;
}
.site-menu-list__item-group
{
    padding: 0 0 .3em 0;
}
.site-menu-list__item-group-link
{
    font: 1.2em Arial, Helvetica, sans-serif;

    color: #008ace;
}
.site-menu-list__item-group-link:hover
{
    color: #c00;
}
.site-menu-list__item-group-link:visited
{
    color: #551a8b;
}
.site-menu-list__item-group-link:visited:hover
{
    color: #c00;
}
.site-menu-list__item-item
{
    padding: .3em 0;
}
.site-menu-list__item-item-link
{
    font: .85em Arial, Helvetica, sans-serif;

    text-decoration: none;

    color: #008ace;
    border-bottom: solid 1px #008ace;
}
.site-menu-list__item-item-link:hover
{
    color: #c00;
    border-bottom: solid 1px #c00;
}
.site-menu-list__item-item-link_state_active
{
    font-weight: bold;

    color: #c00;
    border-bottom: solid 1px #c00;
}

.site-menu-list__item-link
{
    font: 1.2em Arial, Helvetica, sans-serif;

    position: relative;

    color: #008ace;
}
.site-menu-list__item-link:hover
{
    color: #c00;
}
.site-menu-list__item-link_state_active
{
    font-weight: bold;

    text-decoration: none;

    color: #ff6702;
}
.site-menu-list__item-link:visited
{
    color: #551a8b;
}
.site-menu-list__item-link:visited:hover
{
    color: #c00;
}
