.header
{
    position: relative;

    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}
    .header__top
    {
        width: 100%;
        padding: 0 0 1em 0;
    }
    .header__menu
    {
        float: left;
    }
    .header__lang
    {
        float: left;

        padding: 0 0 0 1em;
    }
    .header__search
    {
        float: right;
    }
    .header__phone
    {
        float: left;
    }
    .header__logo
    {
        width: 100%;

        text-align: center;
    }
    .header__right
    {
        float: right;

        width: 65%;
    }
