.nav
{
    position: relative;

    margin: 0 0 1em 0;
}

    .nav__button
    {
        position: relative;
        z-index: 1001;

        display: inline-block;
    }

    .nav__link
    {
        font: .8em Arial, Helvetica, sans-serif;

        color: #008ace;
    }

    .nav__link:hover
    {
        color: #c00;
    }

    .nav__link:visited
    {
        color: #551a8b;
    }

    .nav__link:visited:hover
    {
        color: #c00;
    }

    .nav__separator
    {
        font: 1.1em Arial, Helvetica, sans-serif;

        position: relative;

        width: 6px;
        height: 10px;
        padding: 0 .5em;

        text-decoration: none;

        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8wNi8xMgAJ6E8AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAfklEQVQImXXPMRHCYBQD4K9FADjAQiVUAg4Q0DewsSLiCUBCJVQCSGDv0Cr4WX447oBMuSSXS5phGDqMOGTmTUWLCXtMEdF9GpfKtxgjYgdNKUVEXHGsgTv6ppQCX2brD9pfafSbeZ5POFdxRZeZy+eqFX1mLq+qHo8qvg8+AWmDKi7TM8UiAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-position: 50% 68%;
    }

    .nav__item_state_current
    {
        font: bold .8em Arial, Helvetica, sans-serif;

        top: .5em;
    }

