<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    {% block meta %}
    {% endblock meta %}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="none" />

    <link href="{{ request.static_url('pyramid_sacrud_example:static/css/__main.css') }}" rel="stylesheet" />

    {% block extra_css %}
    {% endblock extra_css %}

    <noscript>
      <link href="{{ request.static_url('pyramid_sacrud_example:static/css/no-js.css') }}" rel="stylesheet" type="text/css" />
    </noscript>

       <!--[if IE 8]>
        <link href="{{ STATIC_URL }}css/ie/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
        <link href="{{ STATIC_URL }}css/ie/ie7.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/ie/normalize_v1" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
        <link href="{{ STATIC_URL }}css/ie/ie6.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/ie/normalize_v1" rel="stylesheet" type="text/css" />
    <![endif]-->

    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body>

    {% block popup %}
        <div class="popup">
            <div class="popup-background">&nbsp;</div>
            <div class="popup-inner">
                <div class="popup-inner__ie">
                    <div class="popup-inner__content">
                        <a href="#" class="popup-inner__content-link">
                            <span class="popup-inner__content-link-text">close</span>
                        </a>
                        <div class="popup-inner__content-content">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock popup %}

    <div class="wrapper">
        <div class="wrapper__inner">
            <div class="header clear-fix">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="{{ request.static_url('pyramid_sacrud_example:static/img/logo.png') }}" class="header__logo-link-image" alt="" title="" />
                    </a>
                </div>
                {% with menu=page_menu(from_lvl=1, to_lvl=5) %}
                  {% include 'pyramid_sacrud_pages/menu.jinja2' with context %}
                {% endwith %}
                <div class="header__menu">
                    <div class="menu">
                        <ul class="menu-list">
                            <li class="menu-list__item">
                                <a href="/" class="menu-list__item-link">Home</a>
                            </li>
                            <li class="menu-list__item">
                                <a href="#" class="menu-list__item-link">About</a>
                            </li>
                            <li class="menu-list__item">
                                <a href="#" class="menu-list__item-link">Services</a>
                            </li>
                            <li class="menu-list__item">
                                <a href="#" class="menu-list__item-link">Blog</a>
                            </li>
                            <li class="menu-list__item">
                                <a href="#" class="menu-list__item-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__user">
                    {% include 'auth/user_in_head.jinja2' %}
                </div>
            </div>

            {% if request.user %}
                <div class="main-button" style="text-align: center">
                    <div class="button">
                        <div class="button-inner">
                            <a href="{{ request.route_url('sa_home') }}" class="button-inner__link">Go to sacrud!</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% block content %}
            {% endblock content %}

            <div class="footer clear-fix">
                <div class="footer__c1">
                    <div class="footer__text">
                        <p>&nbsp;</p>
                    </div>
                    <div class="footer__text">
                        <p>&nbsp;</p>
                    </div>
                    <div class="footer__copyright">&copy; ITCase 2013-2014</div>
                </div>
            </div>
        </div>
    </div>


    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
