.footer
{
    clear: both;

    margin: 0 0 3em 0;
    padding: 5em 0 0 0;
}
    .footer__c1
    {
        float: left;

        max-width: 310px;
    }
    .footer__c2
    {
        float: left;

        padding: 0 0 0 20px;
    }