.error
{
    width: 100%;
}

.error__wrapper
{
    position: relative;

    min-width: 960px;
    max-width: 1100px;
    margin: 0 auto;
}

    .error__title
    {
        font: 1.8em 'Trebuchet MS', ans-serifsans-serif;

        padding: 5em 0 .4em 50px;

        color: #000;
    }

    .error__text
    {
        font: .9em Arial;
        line-height: 1.6em;

        padding: 0 0 0 50px;

        color: #000;
    }

    .error__link
    {
        color: #000;
    }

    .error__link:hover
    {
        color: #aa1237;
    }
