<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {% if page %}
            {% if page.seo_title %}
                {{ page.seo_title }}
            {% else %}
                {{ page.name }}
            {% endif %}
        {% endif %}
    </title>

    {% block meta %}
        {% if page %}
            <!--
            {{ page.seo_keywords }}
            {{ page.seo_description }}
            {{ page.seo_metatags|safe }}
            -->
        {% endif %}
    {% endblock meta %}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block extra_css %}
        <link rel="stylesheet" href="{{ request.static_url('pyramid_sacrud_example.includes.home:static/css/__main.css') }}" type="text/css" />
    {% endblock extra_css %}

    <noscript>
      <link href="{{ request.static_url('pyramid_sacrud_example.includes.home:static/css/no-js.css') }}" rel="stylesheet" type="text/css" />
    </noscript>

    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body>

    {% block popup %}
        <div class="popup">
            <div class="popup-background">&nbsp;</div>
            <div class="popup-inner">
                <div class="popup-inner__ie">
                    <div class="popup-inner__content">
                        <a href="#" class="popup-inner__content-link">
                            <span class="popup-inner__content-link-text">close</span>
                        </a>
                        <div class="popup-inner__content-content">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock popup %}

    <div class="wrapper">
        <div class="wrapper__inner">
            <div class="header clear-fix">
                {% if request.user %}
                    <div class="button">
                        <div class="button-inner">
                            <a href="{{ request.route_url('sa_home') }}" class="button-inner__link">Go to sacrud!</a>
                        </div>
                    </div>
                {% endif %}
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="{{ request.static_url('pyramid_sacrud_example.includes.home:static/img/logo.png') }}" class="header__logo-link-image" alt="" title="" />
                    </a>
                </div>
                <div class="header__user">
                    {% include 'auth/user_in_head.jinja2' %}
                </div>
                <div class="header__menu">
                    {% with menu=page_menu(from_lvl=1) %}
                        {% include 'pyramid_sacrud_pages/menu.jinja2' with context %}
                    {% endwith %}
                </div>
            </div>

            {% block content %}
            {% endblock content %}

            <div class="footer clear-fix">
                <div class="footer__c1">
                    <div class="footer__text">
                        <p>&nbsp;</p>
                    </div>
                    <div class="footer__text">
                        <p>&nbsp;</p>
                    </div>
                    <div class="footer__copyright">&copy; ITCase 2013-2014</div>
                </div>
            </div>
        </div>
    </div>


    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
