.block_type_menu
{
    position: relative;

    margin: 0 0 30px 0;
    padding: 1.2em 1.5em .4em 1.5em;

    border: solid 1px #ccc;
    border-radius: 8px;
    background: #fff;
}
.block_type_menu:before
{
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1%;

    width: 98%;

    content: '';

    border-radius: 10px;
    box-shadow: 0 5px 20px #ccc;
}
.block-list
{
    padding: 1em 0 .2em 0;
}
.block-list__item
{
    margin: .7em 0 1.7em 0;
    padding: 0 0 0 4em;
}
.block-list__item-link
{
    font: bold .9em Arial;

    position: relative;

    display: block;

    text-transform: uppercase;

    color: #000;
}
.block-list__item-link-text:before
{
    position: absolute;
    top: -6px;
    left: -40px;

    display: block;

    width: 30px;
    height: 30px;

    content: '';

    background: url(../../img/icons.png) no-repeat;
}
.block-list__item-link:hover
{
    color: #ff6702;
}
.block-list__item:nth-child(1) .block-list__item-link-text:before
{
    background-position: -10px -10px;
}
.block-list__item:nth-child(2) .block-list__item-link-text:before
{
    background-position: -10px -47px;
}
.block-list__item:nth-child(3) .block-list__item-link-text:before
{
    background-position: -10px -86px;
}

.block_type_selector
{
    position: relative;

    border: dashed 1px #bbb;
     border-radius: 10px;
    background: #fff;
}
.block_type_selector:before
{
    position: absolute;
    z-index: -2;
    top: 70%;
    right: 20px;
    bottom: 0;
    left: 20px;

    content: '';

    border-radius: 350px / 10px;
    box-shadow: 0 0 30px #bcbfc5;
}
.block-sidebar
{
    float: left;

    width: 35%;
    padding: 1em 0;
}
.block-sidebar-menu
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.block-sidebar-menu__item
{
    padding: .5em 1em .5em 1.5em;

    cursor: pointer;
}
.block-sidebar-menu__item:hover
{
    background: #eaeaea;
}
.block-sidebar-menu__item-link
{
    font: .9em Arial;

    text-decoration: none;

    color: #002663;
    border-bottom: dashed 1px #002663;
}
.block-sidebar-menu__item_state_active
{
    background: #f48220;
}
.block-sidebar-menu__item_state_active .block-sidebar-menu__item-link
{
    color: #fff;
    border-bottom: dashed 1px #fff;
}
.block-sidebar-menu__item_state_active:hover
{
    background: #f48220;
}

.block-info
{
    display: none;
    float: left;

    width: 64%;

    border-left: solid 1px #dfe3da;
}
.block-info.visible
{
    display: block;
}
.block-info-list
{
    margin: 0;
    padding: 1.5em 0 1em 1em;

    list-style: none;
}
.block-info-list__item
{
    margin: 0 2em 1em 3em;
}
.block-info-list__item-link
{
    font: .8em Arial;

    color: #666;
}

.block_type_files
{
    position: relative;

    border: solid 1px #ca3831;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #fff;
}
.block_type_files:before
{
    position: absolute;
    z-index: -2;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 1%;

    width: 98%;

    content: '';

    -moz-border-radius: 10px;
         border-radius: 10px;
    -webkit-box-shadow: 0 5px 20px #9aacb4;
       -moz-box-shadow: 0 5px 20px #9aacb4;
            box-shadow: 0 5px 20px #9aacb4;
}
