{% extends "base.jinja2" %}

{% block extrahead %}
    <link href="{{ request.static_url('pyramid_sacrud_gallery:static/css/__gallery.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ request.static_url('pyramid_sacrud_gallery:static/js/__gallery.js') }}"></script>
{% endblock extrahead %}
