.popup
{
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    min-height: 100%;
}
.popup-background
{
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    min-height: 100%;

           opacity: .50;
    background: #eee;

      -moz-opacity: .50;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha'(Opacity=50);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -khtml-opacity: .5;
}
.popup-inner
{
    position: relative;

    display: table-cell;

    width: 100%;

    vertical-align: middle;

    //top: 50%;
    //vertical-align: baseline;
}
.popup-inner__ie
{
    position: relative;

    width: 100%;

    text-align: center;

    //top: -50%;
}
.popup-inner__content
{
    position: relative;
    z-index: 100002;

    display: inline-block;

    margin: 2em 0;

    text-align: left;
    text-decoration: none;
}
.popup-inner__content-link
{
    position: absolute;
    z-index: 100003;
    top: .1em;
    right: 1.3em;

    text-decoration: none;
}
.popup-inner__content-link-text
{
    font: .7em Arial;

    cursor: pointer;

    color: #000;
    border-bottom: dashed 1px #000;
}
.popup-inner__content-link:hover .popup-inner__content-link-text
{
    color: #ff6702;
    border-bottom: dashed 1px #ff6702;
}
