.button
{
	display: inline-block;
	position:relative;
	text-decoration: none;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	font-size: 1em;
	z-index: 100;
}
.button:focus
{
	outline: none
}

.button .button-inner
{
	display: inline-block;
	position: relative;
	padding: 0.5em 1em;
	text-align: center;

	font: 1.1em Arial;

	border: 1px solid #ff920a;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;

	background: #ffaf4b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
	.button-inner__link
	{
		color: #fff;
		text-decoration: none;
	}
.button:hover .button-inner
{
	border: 1px solid #ff920a;
	background: #ff920a; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff920a 0%, #ffaf4b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff920a), color-stop(100%,#ffaf4b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff920a 0%,#ffaf4b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff920a 0%,#ffaf4b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff920a 0%,#ffaf4b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff920a 0%,#ffaf4b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ffaf4b',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.button .button-inner:before
{
	width: 99%;
	height: 93%;
	content: "";
	position: absolute;
	z-index: -2;
	top: 0;
	bottom: 0px;
	left: 0.5%;
	right: 0px;
	-webkit-box-shadow:0 5px 10px #959697;
	-moz-box-shadow:0 5px 10px #959697;
	 box-shadow:0 5px 10px #959697;
	-moz-border-radius: 10px;
	 border-radius: 10px;
}

.button_state_disabled .button-inner,
.button_state_disabled:hover .button-inner
{
	border: solid 1px #ccc;
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	cursor: default;
	color: #999;
}