<!DOCTYPE html>
<html>
<head>
<title>Start template</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{{ request.static_url('example:static/css/kube.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ request.static_url('example:static/css/start.css') }}" />

</head>
<body>
<div class="wrapper">
  {% block content %}
  <header id="header">
    <div class="unit-push-70 unit-30">
      {% include 'includes/user_in_head.jinja2' %}
    </div>
    <h1>Logo</h1>
    <nav class="nav-g">
      <ul>
        <li><span>Home</span></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </nav>
  </header>

  <div id="main">
    <h2>Hello and welcome!</h2>
    <div class="units-row">
      <article class="unit-75">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </article>
      <aside class="unit-25 unit-padding">
        <h6>Sidebar</h6>
        <nav class="nav-v">
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>

          </ul>
        </nav>
      </aside>
    </div>
  {% endblock %}
  </div>

  <ul id="blocks" class="blocks-3">
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>

  <footer id="footer">&copy; All rights reserved.</footer>

</div>
</body>
</html>
