<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
function readURL(input) {
  obj = $('#sacrud_fm_image');
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      obj.attr('src', e.target.result)
        .width(150)
    };

    reader.readAsDataURL(input.files[0]);
  }
}
function choiseImage(image) {
  top.tinymce.activeEditor.windowManager.getParams().oninsert(image.src);
  top.tinymce.activeEditor.windowManager.close();
}
</script>

<img id="sacrud_fm_image" src="#" alt="" onload='choiseImage(this)'>
<input name="sacrud_fm" type="file" onchange='readURL(this)'>
