{% extends "base.jinja2" %}

{% block content %}
	<div class="page">
		<div class="page-title">{{ page.name }}</div>
		<div class="page-content">{{ page.description|safe }}</div>
	</div>
{% endblock %}
