.block_type_menu
{
	border: solid 1px #ccc;
	padding: 1.2em 1.5em 0.4em 1.5em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
	position: relative;
	margin: 0 0 30px 0;
}
.block_type_menu:before
{
	width: 98%;
	content: "";
	position: absolute;
	z-index: -2;
	top: 0;
	bottom: 0;
	left: 1%;
	right: 0px;
	-webkit-box-shadow:0 5px 20px #ccc;
	-moz-box-shadow:0 5px 20px #ccc;
	 box-shadow:0 5px 20px #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	.block-list
	{
		padding: 1em 0 0.2em 0;
	}
		.block-list__item
		{
			padding: 0 0 0 4em;
			margin: 0.7em 0 1.7em 0;
		}
			.block-list__item-link
			{
				color: #000;
				font: bold 0.9em Arial;
				text-transform: uppercase;
				display: block;
				position: relative;
			}
				.block-list__item-link-text:before
				{
					content: "";
					width: 30px;
					height: 30px;
					left: -40px;
					top: -6px;
					display: block;
					position: absolute;
					background: url(../../img/icons.png) no-repeat;
				}
			.block-list__item-link:hover
			{
				color: #FF6702;
			}
		.block-list__item:nth-child(1) .block-list__item-link-text:before
		{
			background-position: -10px -10px;
		}
		.block-list__item:nth-child(2) .block-list__item-link-text:before
		{
			background-position: -10px -47px;
		}
		.block-list__item:nth-child(3) .block-list__item-link-text:before
		{
			background-position: -10px -86px;
		}

.block_type_selector
{
	border: dashed 1px #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #fff;
}
.block_type_selector:before
{
	content:"";
	position:absolute;
	z-index:-2;
	top:70%;
	bottom:0px;
	left:20px;
	right:20px;
	-webkit-box-shadow:0 0 30px #BCBFC5;
	-moz-box-shadow:0 0 30px #BCBFC5;
	 box-shadow:0 0 30px #BCBFC5;
	-moz-border-radius:350px / 10px;
	 border-radius:350px / 10px;
}
	.block-sidebar
	{
		width: 35%;
		float: left;
		padding: 1em 0;
	}
		.block-sidebar-menu
		{
			list-style: none;
			margin: 0;
			padding: 0;
		}
			.block-sidebar-menu__item
			{
				padding: 0.5em 1em 0.5em 1.5em;
				cursor: pointer;
			}
			.block-sidebar-menu__item:hover
			{
				background: #eaeaea;
			}
				.block-sidebar-menu__item-link
				{
					color: #002663;
					font: 0.9em Arial;
					text-decoration: none;
					border-bottom: dashed 1px #002663;
				}
			.block-sidebar-menu__item_state_active
			{
				background: #F48220;
			}
				.block-sidebar-menu__item_state_active .block-sidebar-menu__item-link
				{
					color: #fff;
					border-bottom: dashed 1px #fff;
				}
			.block-sidebar-menu__item_state_active:hover
			{
				background: #F48220;
			}

	.block-info
	{
		width: 64%;
		float: left;
		border-left: solid 1px #DFE3DA;
		display: none;
	}
	.block-info.visible
	{
		display: block;
	}
		.block-info-list
		{
			list-style: none;
			margin: 0;
			padding: 1.5em 0 1em 1em;
		}
			.block-info-list__item
			{
				margin: 0 2em 1em 3em;
			}
				.block-info-list__item-link
				{
					font: 0.8em Arial;
					color: #666666;
				}

.block_type_files
{
	border: solid 1px #CA3831;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #fff;
}
.block_type_files:before
{
	width: 98%;
	content: "";
	position: absolute;
	z-index: -2;
	top: 5%;
	bottom: 0px;
	left: 1%;
	right: 0px;
	-webkit-box-shadow:0 5px 20px #9AACB4;
	-moz-box-shadow:0 5px 20px #9AACB4;
	 box-shadow:0 5px 20px #9AACB4;
	-moz-border-radius: 10px;
	 border-radius: 10px;
}
