.loading
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    background: url(../../img/loading.gif) no-repeat 50% 50%;
}
.loading__text
{
    font: .8em Arial;

    position: relative;
    top: 70px;

    color: #555;
}
