.form
{
}
.form_type_auth
{
	width: 500px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	border: 3px #F0A123 solid;
	padding: 1em 2em 0.5em 2em;
	margin: 0 auto 2em auto;
}
	.form__title
	{
		font: bold 1.3em Calibri;
		color: #000;
	}
	.form-fields
	{
		position: relative;
		display: table;
		border-collapse: separate;
		border-spacing: 0 0.5em;
		margin: 0;
		padding: 0;
		list-style: none;
	}
		.form-field__item
		{
			width: 100%;
			display: table-row;
			background: #fff;
		}
			.form-field__item-c1
			{
				width: 15%;
				display: table-cell;
				vertical-align: top;
				padding: 0.5em 0;
			}
				.form-field__item-name
				{
					max-width: 200px;
					font: 0.85em Arial;
					color: #444444;
					display: block;
					text-align: right;
					white-space: nowrap;
					padding: 0.4em 15px 0 20px;
				}
					.form-field__item-required
					{
						font: 1em Arial;
						color: red;
					}
				.form-field__item-label
				{
					width: 100%;
				}
					.form-field__item-label-text
					{
						font: 0.8em Arial;
						color: #444444;
					}
			.form-field__item-c2
			{
				width: 85%;
				display: table-cell;
				vertical-align: top;
				margin: 0 1em 0 0;
				padding: 0.5em 0;
			}
				.form-field__item-c2-inner
				{
					position: relative;
				}
				.form-field__item-error
				{
					font: 0.8em Arial;
					color: red;
					padding: 0.3em 0 0 0;
				}
				.form-input
				{
					background: #fff;
					border-left: solid 1px #c6c6c6;
					border-top: solid 1px #a3a3a3;
					border-right: solid 1px #c6c6c6;
					border-bottom: solid 1px #e5e5e5;
					display: block;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-shadow: inset 0px 1px 1px #cfcfcf;
					-webkit-box-shadow: inset 0 1px 1px #cfcfcf;
					-moz-box-shadow: inset 0 1px 1px #cfcfcf;
					font: 0.85em Arial;
					color: #333333;
					width: 99%;
					position: relative;
					padding: 0.3em 1% 0.2em 0.3em;
					outline-width: 0;
					border-radius: 4px;
					-moz-border-radius: 4px;
					-webkit-border-radius: 4px;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;
				}
				.form-input:focus
				{
					border-left: solid 1px #FF6702;
					border-top: solid 1px orange;
					border-right: solid 1px #FF6702;
					border-bottom: solid 1px orange;
					box-shadow: inset 0px 1px 1px #ffa119;
					-webkit-box-shadow: inset 0 1px 1px #ffa119;
					-moz-box-shadow: inset 0 1px 1px #ffa119;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;
				}
					.form-input__hint
					{
						padding: 0.4em 0 0 0;
						font: italic 0.8em Arial;
						color: #555555;
					}
					.form-input__hint-link
					{
						color: #336699;
					}
				.form-textarea
				{
					background: #fff;
					border-left: solid 1px #c6c6c6;
					border-top: solid 1px #a3a3a3;
					border-right: solid 1px #c6c6c6;
					border-bottom: solid 1px #e5e5e5;
					display: block;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-shadow: inset 0px 1px 1px #cfcfcf;
					-webkit-box-shadow: inset 0 1px 1px #cfcfcf;
					-moz-box-shadow: inset 0 1px 1px #cfcfcf;
					font: 0.85em Arial;
					color: #333333;
					width: 99%;
					position: relative;
					padding: 0.3em 1% 0.2em 0.3em;
					outline-width: 0;
					overflow: auto;
					border-radius: 4px;
					-moz-border-radius: 4px;
					-webkit-border-radius: 4px;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;
				}
				.form-textarea:focus
				{
					border-left: solid 1px #FF6702;
					border-top: solid 1px orange;
					border-right: solid 1px #FF6702;
					border-bottom: solid 1px orange;
					box-shadow: inset 0px 1px 1px #ffa119;
					-webkit-box-shadow: inset 0 1px 1px #ffa119;
					-moz-box-shadow: inset 0 1px 1px #ffa119;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;
				}

.form-message
{
	font: italic 0.8em Arial;
	padding: 0.7em 0.5em 0.7em 0.7em;
	display: inline-block;
	position: absolute;
	z-index: 100;
}
	.form-message__close
	{
		width: 9px;
		height: 9px;
		font-size: 0;
		position: absolute;
		right: 7px;
		top: 7px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMTIvMjYvMTOaUZqQAAAAgUlEQVQYlU3PsQ2DQBBE0S3HBThBohVnjtwMvdAEDSACJxaiCTuA52ROumA1u18zd7uFGW8MqK6G8LnSwAdjDGNmeBduASd2vKJn+FBdck/yjO7t5X6HJ44YjszVm+5YYvhGl/BqX2248MMjeoWPhTV7bC0Z3cLXwhRjO78/ZsX0Bw6cHuW7gc1FAAAAAElFTkSuQmCC);
	}
	.form-message__close:hover
	{
		
	}
	.form-message_type_error
	{
		color: #fff;
		background: #EF3E42;
		right: -210px;
		top: -3px;
	}
		.form-message_type_error:after
		{
			right: 100%;
			top: 10px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			border-style: inset;
			border-width: 6px 16px 6px 0;
			border-color: transparent #EF3E42 transparent transparent;
			-webkit-transform:rotate(360deg)
		}

	.form-message_type_complete
	{
		width: 15px;
		height: 10px;
		position: absolute;
		right: -1.5em;
		top: 0.6em;
		padding: 0;
		margin: 0;
		background-repeat: no-repeat;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDkvMTQvMTO5VXyvAAAAxElEQVQokZ3RoU7DMRAH4G//8AZVc7wDEtEFj5pCzcwgSJpMYQgYDJA0QWCZWhC4uSUkfZqpWgwITEcGbAtw9u773aXlH5VKuITeH1EfM0Rc/RqnEoY4xwFKjnXQrSXuggnX2Mc8xzqArsGnVMJ4BxzhFdMc6/Gq1+EGh7hNJVxsgRqcrPd7bWiBPt7wkmOdpBLucNRmHnOs+ftVnw/Wtpwi4B17qHjYBL/gFjDEfbtiibMc6/Mm+AO3gNVfnuRYl9sgfAAQrD5Uba7K2AAAAABJRU5ErkJggg==);
	}
	.form-message__text
	{
		max-width: 180px;
		min-width: 180px;
	}

.form-requirement-field
{
	padding: 0.5em 1em 0.7em 1em;
	margin: 0 0 2em 0;
	line-height: 1.3em;
	background: #F3EFE9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	.form-requirement-field__title
	{
		font: bold 0.8em Arial;
		color: #333;
		display: inline-block;
		padding: 0 0.3em 0 0;
	}
	.form-requirement-field__link
	{
		text-decoration: none;
		display: inline-block;
		margin: 0 0.2em 0 0;
		color: #336699;
	}
		.form-requirement-field__link-text
		{
			font: 0.8em Arial;
			color: #336699;
			border-bottom: dashed 1px #336699;
			text-transform: lowercase;
		}
	.form-requirement-field__link:hover .form-requirement-field__link-text
	{
		color: #FF6702;
		border-bottom: dashed 1px #FF6702;
	}