.menu
{
    position: relative;
}

    .menu-list
    {
        margin: 0;
        padding: 0;
    }

        .menu-list__item
        {
            display: inline-block;

            margin: 0 1em .2em 0;
        }

            .menu-list__item-link
            {
                font: .8em Arial, Helvetica, sans-serif;

                text-decoration: none;

                color: #777;
            }

            .menu-list__item-link:hover
            {
                color: #c00;
            }

            .menu-list__item-link:visited
            {
                color: #551a8b;
            }

            .menu-list__item-link:visited:hover
            {
                color: #c00;
            }

        .menu-list__item_state_current .menu-list__item-link
        {
            font-weight: bold;
        }

